article {
    flex: 1;
}

.heading-centre {
    font-size: 60px;
    text-align: center;
}

.success {
  padding: 10;
  background-color: lightgreen;
  margin-bottom: 20;

}
.ballot-option {
    font-size: 30px;
    background-color: #FFF;
    padding: 10;
    border-style: solid;
    border-color: #EEE;
}

input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
}

.vote-form {
    width: 500px;
    margin: auto;
}

.login-input {
    width: 100%;
    font-size: 20px;
}

.login-form {
    width: 300px;
    margin: auto;
}



.heading-centre-small {
    font-size: 20px;
    text-align: center;
}

.button-right-container {
    text-align: right;
}

.button-centre-container {
    text-align: center;
}

.button-cool {
    background-color: #333;
    text-align: center;
    font-size: 22px;
    padding: 5px 20px;
    color: #EEE;
}

body {
    background-color: #EEE;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-text {
    text-align: right;
    margin-right: 10px;

}

.footer-hr {
    margin: auto;
}

footer {
    min-height: 50px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
